@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: #6b21a8;
  --secondary: #f3e8ff;
  --tertiary: #9333ea;
}

.card {
  box-shadow: #9333ea 0px 0px 12px;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.material-symbols-outlined .filled {
  font-variation-settings:
  'FILL' 100,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.health-button button {
  @apply border border-neutral-400 py-3 px-6 rounded-full
}